<html ng-app="CCApp">
<head>
<link rel="stylesheet" href="css/bootstrap.min.css">
<script type="text/javascript" src="js/angular.min.js"></script>
<link rel="stylesheet" href="css/home.css">
<script type="text/javascript" src="js/home.js"></script>
<link rel="stylesheet" href="css/callcenter.css">
<script type="text/javascript" src="js/callcenter.js"></script>
<script type="text/javascript" src="js/editstores.js"></script>
<script type="text/javascript" src="js/seat.js"></script>
<script type="text/javascript" src="js/admin.js"></script>


</head>

<body ng-controller="MainController" ng-init="getList()">

	<div class="container">


		<div class="row eagle-header">
			<div class="col-xs-12">
				<div id="logo" class="pull-left"></div>
				<h1 class="pull-left hidden-xs">Pharmacy Call Center</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class=""
							id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li ng-click="view ='home'" ng-class="{'active': view == 'home'}"><a
									href="#">Home</a></li>
								<li ng-click="view ='seat'" ng-class="{'active': view == 'seat'}"><a
									href="#">Tasks</a></li>
								<li ng-click="view ='edit'" ng-class="{'active': view == 'edit'}"><a
									href="#">Edit Stores</a></li>
								<li ng-click="view ='reporting'"
									ng-class="{'active': view == 'reporting'}"><a href="#">Reporting</a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li ng-click="view ='admin'"
									ng-class="{'active': view == 'admin'}"><a href="#">Administration</a></li>
							</ul>
						</div>
						<!-- /.navbar-collapse -->
					</div>
					<!-- /.container-fluid -->
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-sm-4">
				<div class="row">
					<div class="col-xs-12">
						<div class="card info-card">
							<h5 class="text-center">Current Group</h5>
							<h3 class="text-center">{{advisoryLevel.level}}</h3>
							<h5 class="text-center">Cut Off</h5>
							<h3 class="text-center">+{{advisoryLevel.cutOff}}</h3>
							<h5 class="text-center">Estimated Completion Time</h5>
							<h3 class="text-center">{{advisoryLevel.timeTillComplete}} Minutes</h3>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="card">
							<h3 class="text-center" style="margin-top:5px; text-transform:uppercase;">The List</h3>
							<h4 class="text-center" ng-repeat="requests in bathroomRequest">C35 @ {{requests.seatNum}}</h4>
							<h4 class="text-center" ng-repeat="requests in requestList">{{pad(requests.store.idNumber,4)}}</h4>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-8">

				<!-- Home Content -->
				<div class="home_content card" ng-if="view=='home'">
					<h2 class="page-header">Giant Eagle Pharmacy Call Center</h2>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur
						adipiscing elit, sed do eiusmod tempor incididunt ut labore et
						dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
						exercitation ullamco laboris nisi</p>
					<p>Possible uses for this page...</p>
					<ul>
						<li>Global Announcements</li>
						<li>Links to department documents</li>
						<li>Other...</li>
					</ul>
				</div>

				<!-- Seat Content -->
				<div class="seat_content card" ng-if="view=='seat'"
					ng-controller="SeatController">
					<h2 class="page-header">Tasks <small ng-if="getSeat() != null">Seat {{getSeat()}}</small></h2>
					<p class="lead">General options based on your currently assigned seat role.</p>
					
					<div class="row">
						<button class="btn btn-danger col-xs-offset-4 col-xs-4" ng-click="C35()"
							ng-if="!isRFR && getSeat() != null">Request C35</button>
						<button class="btn btn-warning col-xs-offset-2 col-xs-3" ng-click="rfCall()" ng-if="isRFR">Get
							Request</button>
						<button class="btn btn-primary col-xs-offset-2 col-xs-3" ng-click="calledRequest()"
							ng-if="isRFR">Store Call</button>
					</div>
					
					<div ng-if="isRFR">
						<h3 class="page-header">Your Active Relief Requests</h3>
						<ul>
							<li ng-repeat="reliefRequest in yourRequests">{{displayRequest(reliefRequest)}}
								<button class="btn btn-success"
									ng-click="finishRequest(reliefRequest)">Finish</button>
								<button class="btn btn-danger"
									ng-click="putBackRequest(reliefRequest)" ng-if="!reliefRequest.bathroomBreak">Put Back</button>
							</li>
						</ul>
					</div>
					
					<div class="RFStores" ng-if="!isRFR">
						<h3 class="page-header">Your Assigned Stores</h3>
						<div class="row" style="padding-left:30px; padding-right:30px; padding-bottom:30px">
							<div class="col-xs-3">
								<button class="btn btn-info margin:10px;" style="width:100%; height:60px; font-size:18pt;" ng-repeat="store in yourStores"
									ng-click="putOnList(store.idNumber)">{{store.idNumber}}</button>
							</div>
						</div>
					</div>
					
				</div>

				<!-- Admin Content -->
				<div ng-controller="AdminController" class="admin_content card" ng-if="view=='admin'">
					<h2 class="page-header">Call Center Administration</h2>
					    <div class="col-sm-9">
					      <input ng-model="cutOff_temp" type="text" class="form-control" id="set_cutOff" placeholder="Cut Off Number">
					      <button ng-click="setCutOff(set_cutOff)">Set Cut Off</button>
					    </div>
					    <div class="col-sm-9">
					      <input ng-model="store_num" type="text" class="form-control" id="storeAdd" placeholder="Store ID">
					      <button ng-click="putOnList(store_num);">Add Store To List</button>
					    </div>
					<p class="lead">Change the currently active seat group</p>
					<div class="row">
						<button ng-click="changeGroups('A')" class="btn btn-warning col-xs-offset-1 col-xs-4">A
							Group</button>
						<button ng-click="changeGroups('B')" class="btn btn-warning col-xs-offset-1 col-xs-4">B
							Group</button>
					</div>
					<div class="row" style="margin-top: 10px; margin-bottom: 30px">
						<button ng-click="changeGroups('C')" class="btn btn-warning col-xs-offset-1 col-xs-4">C
							Group</button>
						<button ng-click="changeGroups('Sat')" class="btn btn-warning col-xs-offset-1 col-xs-4">Sat
							Group</button>
					</div>
				</div>

				<!-- Edit Content -->
				<div class="edit_content card" ng-if="view=='edit'"
					ng-controller="EditStores">
					<h2 class="page-header">Edit Stores</h2>
					
					<br/>
					
					<div class="form-group row">
					   <label for="lookupStore" class="col-sm-3 control-label">Look-Up Store</label>
					    <div class="col-sm-6">
					      <input ng-model="store_id" type="text" class="form-control" id="lookupStore" placeholder="Store ID">
					    </div>
					    <button class="btn btn-warning col-sm-2" ng-click="storeLookUp()">Look-Up</button>
					</div>
					
					<br/>
					
					<div class="form-group row">
					   <label for="storeNumber" class="col-sm-3 control-label">Store Number</label>
					    <div class="col-sm-9">
					      <input ng-model="store.idNumber" type="text" class="form-control" id="storeNumber">
					    </div>
					</div>
					
					<div class="form-group row">
					   <label for="storeAGroup" class="col-sm-3 control-label">A Group</label>
					    <div class="col-sm-9">
					      <input ng-model="store.aGroup" type="text" class="form-control" id="storeAGroup">
					    </div>
					</div>
					
					<div class="form-group row">
					   <label for="storeBGroup" class="col-sm-3 control-label">B Group</label>
					    <div class="col-sm-9">
					      <input ng-model="store.bGroup" type="text" class="form-control" id="storeBGroup">
					    </div>
					</div>
					
					<div class="form-group row">
					   <label for="storeCGroup" class="col-sm-3 control-label">C Group</label>
					    <div class="col-sm-9">
					      <input ng-model="store.cGroup" type="text" class="form-control" id="storeCGroup">
					    </div>
					</div>
					
					<div class="form-group row">
					   <label for="storeSatGroup" class="col-sm-3 control-label">Saturday Group</label>
					    <div class="col-sm-9">
					      <input ng-model="store.satGroup" type="text" class="form-control" id="storeSatGroup">
					    </div>
					</div>
					
					<div class="form-group row">
					   <label for="storeState" class="col-sm-3 control-label">State</label>
					    <div class="col-sm-9">
					      <input ng-model="store.state" type="text" class="form-control" id="storeState">
					    </div>
					</div>
					
					<br/>

					<div class="row">
						<button class="btn btn-primary col-xs-6 col-xs-offset-3" ng-click="saveStore()">Save Store</button>
					</div>
					
					<br/>

				</div>

				<!-- Reporting Content -->
				<div class="reporting_content card"
					ng-if="view=='reporting'">
					<h2 class="page-header">Reporting</h2>
					<p class="lead">All reporting goes here</p>
				</div>

			</div>



		</div>

	</div>

</body>


</html>