body {
	background-color: #f8f8f8;
}

#logo {
	background-image: url('/img/GiantEagle.png');
	display:block;
	width:138px;
	height:70px;
	margin-right:20px;
}

.navbar {
	background-color:white;
}

.eagle-header {
	margin-top:8px;
	margin-bottom:8px;
}

.card {
	padding:6px;
	padding-left:16px;
	padding-right:16px;
	margin-bottom:15px;
	border-color:#e7e7e7;
	border-style:solid;
	border-width:1px;
	border-radius:4px;
	background-color:white;
	box-shadow: 2px 2px 2px #e7e7e7;
}

.info-card {
	background-color:#cf1c2b;
	color:white;
	border-radius: 18px;
	text-shadow: 2px 2px 2px #912a28;
}


.info-card h5 {
	text-transform: uppercase;
	margin-bottom:0px;
}
.info-card h3 {
	margin-top:2px;
	margin-bottom:14px;
}

.page-header {
	margin-top:12px;
}