<html ng-app="CCApp">
<head>
<link rel="stylesheet" href="css/bootstrap.min.css"/>
<script type="text/javascript" src="js/angular.min.js"></script>
<link rel="stylesheet" href="css/home.css"> </link>

<link rel="stylesheet" href="css/callcenter.css"/>
<script type="text/javascript" src="js/callcenter.js"></script>
<script type="text/javascript" src="js/editstores.js"></script>
<script type="text/javascript" src="js/seat.js"></script>
<script type="text/javascript" src="js/admin.js"></script>
<script type="text/javascript" src="js/editaccounts.js"></script>
<script type="text/javascript" src="js/bulletin.js"></script>
<script type="text/javascript" src="js/home.js"></script>
<script type="text/javascript" src="js/rphhelp.js"></script>
</head>

<body ng-controller="MainController" ng-init="getList()">

	<div class="container">


		<div class="row eagle-header">
			<div class="col-xs-12">
				<div id="logo" class="pull-left"></div>
				<h1 class="pull-left hidden-xs">Pharmacy Call Center</h1>
				<div class="col-md-3 pull-right" style="margin-top:50px;">
					<span sec:authentication = "principal.firstName" ></span>
					<span sec:authentication = "principal.lastName" ></span>
					<button><a href= "/logout">Logout</a></button>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class=""
							id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li ng-click="view ='home'" ng-class="{'active': view == 'home'}"><a
									href="#">Home</a></li>
								<li ng-click="view ='seat'" ng-class="{'active': view == 'seat'}"><a
									href="#">Tasks</a></li>
								<li sec:authorize="principal.getCert('')" ng-click="view ='edit'" ng-class="{'active': view == 'edit'}"><a
									href="#">Edit Stores</a></li>
								<li sec:authorize="principal.getCert('')" ng-click="view ='accountEdit'" ng-class="{'active': view == 'accountEdit'}"><a
									href="#">Edit Accounts</a></li>
								<li sec:authorize="principal.getCert('Reports')" ng-click="view ='reporting'"
									ng-class="{'active': view == 'reporting'}"><a href="#">Reporting</a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li sec:authorize="principal.getCert('')"
									ng-click="view ='admin'"
									ng-class="{'active': view == 'admin'}"><a href="#">Administration</a></li>
								<li sec:authorize="principal.getCert('')"
									ng-click="view ='bulletin'"
									ng-class="{'active': view == 'bulletin'}"><a href="#">Bulletins</a></li>
								<li sec:authorize="principal.getCert('')"
									ng-click="view ='rphhelp'"
									ng-class="{'active': view == 'rphhelp'}"><a href="#">RPH Requests</a></li>
							</ul>
						</div>
						<!-- /.navbar-collapse -->
					</div>
					<!-- /.container-fluid -->
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-sm-4">
				<div class="row">
					<div class="col-xs-12">
						<div class="card info-card">
							<h5 class="text-center">Current Group</h5>
							<h3 class="text-center">{{advisoryLevel.level}}</h3>
							<h5 class="text-center">Cut Off</h5>
							<h3 class="text-center">+{{advisoryLevel.cutOff}}</h3>
							<h5 class="text-center">Estimated Completion Time</h5>
							<h3 class="text-center">{{advisoryLevel.timeTillComplete}} Minutes</h3>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="card">
							<h3 class="text-center" style="margin-top:5px; text-transform:uppercase;">The List</h3>
							<h4 class="text-center" ng-repeat="requests in bathroomRequest">C35 @ {{requests.stamps[0].seat}}</h4>
							<h4 class="text-center" ng-repeat="requests in requestList">{{pad(requests.store.idNumber,4)}}</h4>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-8">

				<!-- Home Content -->
				<div ng-controller="HomeController" class="home_content card" ng-if="view=='home'" ng-init="getBulletins()">
					<h2 class="page-header">Giant Eagle Pharmacy Call Center</h2>
					<ul class = "pre-scrollable" style= "list-style-type: none;">
						<li ng-repeat="bullet in bulletins" style="border: 2px solid; border-radius: 18px; margin-bottom:5px;" ng-class="{'bulletAlert': bullet.alert}">
						<h4 style="padding:4px;">{{bullet.name}} -- {{bulletinDate(bullet)}}</h4>
						<p class="col-xs-offset-1">{{bullet.content}}</p>
						</li>
					</ul>
				</div>
				
				<!-- RPH Request Content -->
				<div ng-controller="RPHController" class="home_content card" ng-if="view=='rphhelp'">
					<h2 class="page-header">RPH Requests</h2>
					<div class = "row">
						<h3 class="page-header" style="padding-left: 4%;">Seats Requesting an RPH</h3>
						
							<div class="row">
							<ul>
								<li class = "cols-xs-2" style="list-style-type: none; float:left; padding:4px;" ng-repeat="request in RPHList"><pre>{{displayRequest(request)}}</pre>
								</li>
							</ul>
							</div>
							<button class="btn btn-warning col-xs-offset-4 col-xs-4" ng-click="takeRequest()">Get
							Request</button>
					</div>

					<div class = "row">
					
						<h3 style="padding-left: 4%;" class="page-header">Your Active Relief Requests</h3>
							<ul>
								<li class="col-xs-3" ng-repeat="request in yourRequests">{{displayRequest(request)}}
									<button style="padding: 4px;" class="btn btn-success"
										ng-click="finishRPHRequest(request.id)">Finish</button>
								</li>
							</ul>
					</div>
				</div>

				<!-- Seat Content -->
				<div class="seat_content card" ng-if="view=='seat'"
					ng-controller="SeatController" ng-init= "getGroups()">
					
					<h2 class="page-header">Tasks <small ng-if="getSeat() != null">Seat {{getSeat()}}</small></h2>
					<p class="lead">General options based on your currently assigned seat role.</p>
					
					<div class="row" style="margin-bottom: 4px;">
							<div class="col-md-offset-1 col-md-4">
								<div class="input-group">
								<div class="input-group-addon">Seat: </div>
								<select class="form-control" ng-model="realSeat" ng-change="defaultGroup()">
									<option ng-repeat="seat in allSeats">{{seat.label}}</option>
								</select>
								</div>
							</div>
							<div class="col-md-offset-2 col-md-4">
								<div class="input-group">
								<div class="input-group-addon">Group: </div>
								<select class="form-control" ng-model="workingSeat" ng-change="getStores()">
									<option ng-repeat="seat in groups">{{seat}}</option>
								</select>
								</div>
							</div>

					</div>
					
					
					<div class="row">
						<button class = "btn btn-danger col-xs-2 col-xs-offset-2" ng-click="requestRPH()" ng-if="realSeat!=null">Request RPH</button>
						<button class="btn btn-danger col-xs-offset-4 col-xs-2" ng-click="C35()"
							ng-if="!isRFR &amp;&amp; getSeat() != null">Request C35</button>
						<button class="btn btn-warning col-xs-offset-1 col-xs-2" ng-click="rfCall()" ng-if="isRFR">Get
							Request</button>
						<button class="btn btn-primary col-xs-offset-1 col-xs-2" ng-click="storeCallClick()"
							ng-if="isRFR">Store Call</button>
							<select class="form-control col-md-2" ng-model="callStoreNum" ng-change="calledRequest()" ng-show="callClick">
								<option ng-repeat="store in allStores">{{store.idNumber}}</option>
							</select>
					</div>
					
					<div class="row" style="margin-top:10px;">
						<button class="btn col-xs-offset-2 col-xs-3" ng-click="setCutOff(advisoryLevel.cutOff - 5)" 
							ng-if="workingSeat == 'List Keeper'">Cut Off -</button>
						<button class="btn col-xs-offset-2 col-xs-3" ng-click="setCutOff(advisoryLevel.cutOff + 5)"
							ng-if="workingSeat == 'List Keeper'">Cut Off +</button>
					</div>
					
					<div ng-if="isRFR">
						<h3 class="page-header">Your Active Relief Requests</h3>
						<ul>
							<li ng-repeat="reliefRequest in yourRequests">{{displayRequest(reliefRequest)}}
								<button class="btn btn-success"
									ng-click="finishRequest(reliefRequest)">Finish</button>
								<button class="btn btn-danger"
									ng-click="putBackRequest(reliefRequest)" ng-if="reliefRequest.type != 'C35' ">Put Back</button>
								<button class = "btn btn-alert"
										ng-click="getHelp(reliefRequest)" ng-if="helpCheck(reliefRequest)">Get Help</button>
							</li>
						</ul>
					</div>
					
					<div class="RFStores" ng-if="!isRFR">
						<h3 class="page-header">Your Assigned Stores</h3>
						<div class="row" style="padding-left:30px; padding-right:30px; padding-bottom:30px">
							<div class="col-xs-12">
								<button class="btn btn-info" style="margin:10px; width:15%; height:60px;font-size:18pt;" ng-repeat="store in yourStores"
									ng-click="putOnList(store.idNumber)">{{store.idNumber}}</button>
							</div>
						</div>
					</div>
					
					<div class="RFStores" ng-if="workingSeat == 'List Keeper'" ng-init="getStoresNeedChecked()">
						<h3 class="page-header">Stores To Check</h3> 
						<div class="row" style="padding-left:30px; padding-right:30px; padding-bottom:30px">
						<button class="btn btn-success col-xs-offset-4 col-xs-4" style="margin-bottom:12px;height:30px;font-size:12pt;" ng-click="storesChecked()">Stores Checked</button>
							<div class="col-xs-12">
								<button class="btn btn-info" style="margin:10px; width:15%; height:60px;font-size:18pt;" ng-repeat="store in storesNeedChecked"
									ng-click="putOnList(store.idNumber)">{{store.idNumber}}</button>
							</div>
						</div>
					</div>
					
				</div>
				
				<div sec:authorize="principal.getCert('')" ng-controller="BulletinController" class="bulletin_content card" style="height:600px;" ng-if="view=='bulletin'">
					<h2 class="page-header">Bulletins</h2>
					<div class="form-group col-xs-5">
					    <div class="input-group">
					      <div class="input-group-addon  cols-xs-2">Expires in: </div>
					      	<select class="form-control" ng-model="life" id="lifespan">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
							</select>
					      <div class="input-group-addon"> weeks</div>
					    </div>
					 </div>
					<label for="alert" style="padding:10px;">High Priority 
						<input ng-model="alert" type="checkbox" id="alert"/>
					</label>
					<button ng-click="postBulletin()" id="bulletinPost" class="btn btn-success col-xs-offset-3">Post to Board</button>
					<div class="form" style="padding-bottom:10px;">
						<textarea ng-model="note" style="width:100%; height: 70%;" row="50" cols="100"/>
					</div>
				</div>

				<!-- Admin Content -->
				<div sec:authorize="principal.getCert('')" ng-controller="AdminController" class="admin_content card" ng-if="view=='admin'">
					<h2 class="page-header">Call Center Administration</h2>
					    <div class="col-sm-9" style="padding-bottom:10px">
					      <input ng-model="set_cutOff" type="text" class="form-control" id="set_cutOff" placeholder="Cut Off Number"/>
					     
					    </div>
					    <button class = "btn btn-default" ng-click="setCutOff(set_cutOff)" style="margin-bottom:10px">Set Cut Off</button>
					    <div class="col-sm-9">
					      <input ng-model="store_num" type="text" class="form-control" id="storeAdd" placeholder="Store ID"/>
					      
					    </div>
					    <button class = "btn btn-default" ng-click="putOnList(store_num);">Add Store To List</button>
					<p class="lead page-header">Change the currently active seat group</p>
					<div class="row">
						<button ng-click="changeGroups('A')" class="btn btn-warning col-xs-offset-1 col-xs-4">A
							Group</button>
						<button ng-click="changeGroups('B')" class="btn btn-warning col-xs-offset-1 col-xs-4">B
							Group</button>
					</div>
					<div class="row" style="margin-top: 10px; margin-bottom: 30px">
						<button ng-click="changeGroups('C')" class="btn btn-warning col-xs-offset-1 col-xs-4">C
							Group</button>
						<button ng-click="changeGroups('Sat')" class="btn btn-warning col-xs-offset-1 col-xs-4">Sat
							Group</button>
					</div>
				</div>

				<!-- Account Edit Content -->
				<div sec:authorize="principal.getCert('')" class="accountEdit_content card" ng-if="view=='accountEdit'"
					ng-controller="EditAccounts">
					<h2 class="page-header">Edit Accounts</h2>
					
					<br/>
					
					<div class="form-group row">
					   <label for="lookupStore" class="col-sm-3 control-label">Look-Up Account</label>
					    <div class="col-sm-6">
					      <input ng-model="account_id" type="text" class="form-control" id="lookupAccount" placeholder="Account ID"/>
					    </div>
					    <button class="btn btn-warning col-sm-2" ng-click="accountLookUp()">Look-Up</button>
					</div>
					
					<br/>
					
					<div class="form-group row">
					   <label  class="col-sm-3 control-label" for="firstName">First Name</label>
					    <div class="col-sm-9">
					      <input ng-model="account.firstName" type="text" class="form-control" id="firstName"/>
					    </div>
					</div>
					
					<div class="form-group row">
					   <label  class="col-sm-3 control-label" for="lastName">Last Name</label>
					    <div class="col-sm-9">
					      <input ng-model="account.lastName" type="text" class="form-control" id="lastName"/>
					    </div>
					</div>
					
					<div class="checkbox">
						<label>
							<input ng-model="account.callsCert" type="checkbox">Calls</input>
						</label>
					</div>
					
					<div class="checkbox">
						<label>
							<input ng-model="account.dataEntryCert" type="checkbox">Data Entry</input>
						</label>
					</div>
					
					<div class="checkbox">
						<label>
							<input ng-model="account.reportCert" type="checkbox">Reports</input>
						</label>
					</div>

					<div class="row">
						<button class="btn btn-primary col-xs-6 col-xs-offset-3" ng-click="saveAccount()">Save Account</button>
					</div>
					
				</div>
					
					<!-- Edit Content -->
				<div sec:authorize="principal.getCert('')" class="edit_content card" ng-if="view=='edit'"
					ng-controller="EditStores">
					<h2 class="page-header">Edit Stores</h2>
					
					<br/>
					
					<div class="form-group row">
					   <label for="lookupStore" class="col-sm-3 control-label">Look-Up Store</label>
					    <div class="col-sm-6">
					      <input ng-model="store_id" type="text" class="form-control" id="lookupStore" placeholder="Store ID"/>
					    </div>
					    <button class="btn btn-warning col-sm-2" ng-click="storeLookUp()">Look-Up</button>
					</div>
					
					<br/>
					
					<div class="form-group row">
					   <label for="storeNumber" class="col-sm-3 control-label">Store Number</label>
					    <div class="col-sm-9">
					      <input ng-model="store.idNumber" type="text" class="form-control" id="storeNumber"/>
					    </div>
					</div>
					
					<div class="form-group row">
					   <label for="storeAGroup" class="col-sm-3 control-label">A Group</label>
					    <div class="col-sm-9">
					      <input ng-model="store.aGroup" type="text" class="form-control" id="storeAGroup"/>
					    </div>
					</div>
					
					<div class="form-group row">
					   <label for="storeBGroup" class="col-sm-3 control-label">B Group</label>
					    <div class="col-sm-9">
					      <input ng-model="store.bGroup" type="text" class="form-control" id="storeBGroup"/>
					    </div>
					</div>
					
					<div class="form-group row">
					   <label for="storeCGroup" class="col-sm-3 control-label">C Group</label>
					    <div class="col-sm-9">
					      <input ng-model="store.cGroup" type="text" class="form-control" id="storeCGroup"/>
					    </div>
					</div>
					
					<div class="form-group row">
					   <label for="storeSatGroup" class="col-sm-3 control-label">Saturday Group</label>
					    <div class="col-sm-9">
					      <input ng-model="store.satGroup" type="text" class="form-control" id="storeSatGroup"/>
					    </div>
					</div>
					
					<div class="form-group row">
					   <label for="storeState" class="col-sm-3 control-label">State</label>
					    <div class="col-sm-9">
					      <input ng-model="store.state" type="text" class="form-control" id="storeState"/>
					    </div>
					</div>
					
					<br/>

					<div class="row">
						<button class="btn btn-primary col-xs-6 col-xs-offset-3" ng-click="saveStore()">Save Store</button>
					</div>
					
					<br/>

				</div>

				<!-- Reporting Content -->
				<div class="reporting_content card"
					sec:authorize="principal.getCert('Reports')"
					ng-if="view=='reporting'">
					<h2 class="page-header">Reporting</h2>
					<p class="lead">All reporting goes here</p>
				</div>

			</div>



		</div>

	</div>

</body>


</html>